.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  overflow: hidden;
}

.App > * {
  position: relative;
}

.video-panel {
  overflow: hidden;
  position: relative;
}

.player-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.preview-player {
  height: 100%;
  width: 100%;
}

.timeSlider {
  flex-shrink: 1;
}

.timeSlider, .rangeSlider {
  padding: 0 2rem;
}

.rangeSlider {
  margin-bottom: 0.5rem;
}

.controls {
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.right-panel {
  overflow: scroll;
  flex-grow: 1;
  align-items: stretch;
  height: 100%;
}

[data-panel-group-direction='vertical'] > .resize-handle {
  height: 2px;
}
[data-panel-group-direction='horizontal'] > .resize-handle {
  width: 2px;
}

[data-mantine-color-scheme='light'] .resize-handle {
  background-color: #424242;
}
[data-mantine-color-scheme='dark'] .resize-handle {
  background-color: #424242;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: -0.5rem;
}

@keyframes moveAbc {
  from {
    translate: 60% 25%;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  to {
    translate: 60% -40%;
    opacity: 0;
  }
}

.abc {
  display: inline-block;
  animation: 1s ease-out infinite normal;
  animation-name: moveAbc;
}

@keyframes movePencil {
  from {
    translate: 50% 0;
  }
  10% {
    translate: 40% 0;
  }
  20% {
    translate: 50% 0;
  }
  30% {
    translate: 40% 0;
  }
  40% {
    translate: 50% 0;
  }
  to {
    translate: 50% 0;
  }
}

.pencil {
  display: inline-block;
  animation: 1s linear infinite forwards;
  animation-name: movePencil;
}

.transcript-list tr .player-actions {
  visibility: hidden;
}
.transcript-list tr:hover .player-actions {
  visibility: visible;
}

.transcript-text {
  user-select: text;
}


input[type=time] {
  width: 6rem;
  text-align: right;
}
input[type=time][data-variant=unstyled] {
  width: 5rem;
}
.withIcon input[type=time] {
  width: 7rem;
}

.timeline-panel {
  display: flex;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
.timeline-header {
  height: 100%;
  max-height: 100%;
  width: 20rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.timeline-header .mantine-SegmentedControl-label {
  height: 2rem;
}
.timeline-header .mantine-SegmentedControl-root::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}
.timeline-header .mantine-SegmentedControl-root::-webkit-scrollbar-corner {
  display: none;
}

.timeline-editor {
  flex: 1 1 auto;
  height: 100%;
  max-height: 100%;
  width: 100%;
  font-family: inherit;
  overflow-y: hidden;
}

.timeline-editor .timeline-editor-edit-area .ReactVirtualized__Grid::-webkit-scrollbar {
  width: 0;
  height: 0.75rem;
}

.timeline-header .mantine-SegmentedControl-root::-webkit-scrollbar-thumb,
.timeline-editor .timeline-editor-edit-area .ReactVirtualized__Grid::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 0.75rem;
  /*width: 1rem;*/
  /*height: 1rem;*/
}

.timeline-editor .timeline-editor-action {
  height: 28px !important;
  top: 50%;
  transform: translateY(-50%);
}

.prompt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 28px !important;
  margin: 0 0.5rem;
}
