html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: apple-system, BlinkMacSystemFont, 'Yu Gothic UI', 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
  user-select: none;
}

#app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mantine-Progress-root,
.mantine-Progress-section::before {
  top: auto;
  bottom: 0;
  transform-origin: bottom right;
}
.mantine-Progress-section::before {
  transform: rotate(-4deg);
}
